{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8 mx-auto">
        <h4 class="my-2">Settings</h4>
        <form method="POST" action=""> {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Save</button>

        </form>

        <form method="POST" action="{% url 'accounts:delete' %} "> {% csrf_token %}
            <div class="form-group">

            </div>
            <button type="submit" class="btn btn-danger my-3">Delete</button>

        </form>
    </div>
</div>


<div class="row my-5">
    <div class="col-md-6 mx-auto">
        <p class="my-2">if you have not found a suitable city and programming language for you, you can fill out the form below, after adding the city and programming language, you will receive an email</p>
        <form method="POST" action="{% url 'accounts:contact' %}"> {% csrf_token %}
            <div class="form-group">
                {{ contact_form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Send</button>

        </form>

    </div>
</div>


{% endblock %}

